#table {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
}

#cp, #lastName, #name {
  width: 50%;
}

.lastNameRow, .codigoRow, .nameRow {
  border: 1px solid white;
}

.title {
  font-size: 150%;
  margin-bottom: 5%;
  font-family: 'Franklin Gothic Medium';
}