#table, #escritura {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
}

#cp, #lastName, #name{
  width: 50%;
}

.lastNameRow, .codigoRow, .nameRow, .tipoRow, .descRow, .clienteRow, .escribanoRow {
  border: 1px solid white;
}

.title {
  font-size: 150%;
  margin-bottom: 5%;
  font-family: 'Franklin Gothic Medium';
}

#escritura {
  width: 100%;
}

#desc, #tipo, #cliente, #escribano {
  width: 25%;
}

.objetive {
  margin-left: 10vw;
}