#table {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#cp, #lastName, #name {
  width: 50%;
}

.lastNameRow, .codigoRow, .nameRow {
  border: 1px solid black;
}

.title {
  font-size: 130%;
  margin-bottom: 5%;
}