 #container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  /* background-color: black; */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  background-color: red;
}

nav {
  height: 20%;
  width: 100%;
  background-color: green;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  background-color: brown;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: blue;
}

#table {
  height: 80%;
  width: 80%;
}

ul {
  height: 80%;
}
/*

.loading{
  color: white;
  font-size: 200%;
}
.title {
  background-color: rgba(234, 0, 255, 0.815);
  font-weight: bold;
  font-style: oblique;
  color: black;
}

#combo {
  width: 40vw;
}

nav {
  height: 20%;
  width: 100%;
  padding-top: 5%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 3vh;
  border-bottom: 2px solid white;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 125%;
}

hr {
  color: white;
}

#listConsults {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  align-items: center;
  color: white;
  border-bottom: 0;
}

.listItems {
  margin-top: 2vh;
} */