 #container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: rgb(160, 23, 41);
  color: white;
  font-size: 150%;
  font-family: monospace;
}

nav {
  height: 10%;
  width: 100%;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  background-color: rgb(17, 16, 16);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: rgb(160, 23, 41);
  color: white;
  font-size: 150%;
  font-family: monospace;
}

#table {
  height: 60%;
  width: 80%;
}

ul {
  height: 80%;
}